.selector-for-some-widget {
  	box-sizing: content-box;
}

body {
	background-image: url("../img/fundo.png");
}


.titulo {
	margin-top: 2%;
	margin-bottom: 3%;
	text-align: center;
	color: white;
}

.titulo h2{
	font-weight: bold;
}

.titulo h4 {

	font-style: italic;
	font-size: 18pt;
}